@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root{
    /* Primary */
--main-background: hsl(233, 47%, 7%);
--card-background: hsl(244, 38%, 16%);
--accent: hsl(277, 64%, 61%);

/* Neutral */
--main-heading-stats: hsl(0, 0%, 100%);
--main-paragraph: hsla(0, 0%, 100%, 0.75);
--stat-headings: hsla(0, 0%, 100%, 0.6);
/* fonts */
--first-font: "Inter";
--second-font: "Lexend Deca";
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}
.main{
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: var(--main-background);
}
.container{
    width: 70%;
    height: 50%;
    position: relative;
    top: 25%;
    left: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--card-background);
    border-radius: 15px;
}
.left-side{
    min-width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 4rem;  
}
.right-side{
    min-width: 50%;
    height: 100%;
    background-image: url("./images/image-header-desktop.jpg");
    background-position: center center;
    background-size: cover;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.color-bgr{
    height: 100%;
    width: 100%;
    background-color: var(--accent) ;
    opacity: 0.5;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.heading-div{
    color: var(--main-heading-stats);
    font-family: var(--first-font);
    font-weight: 900;
    font-size: 2rem;
}
.insights{
    color: var(--accent);
    font-family: var(--first-font);
    font-weight: 900;
    font-size: 2rem;
}
.paragraph-div{
    color: var(--main-paragraph);
    font-weight: 400;
    line-height: 1.5;
}
.stats{
    color: var(--main-heading-stats);
    font-family: var(--first-font); 
    font-weight: 700;
}
.stats-div{
    display:flex;
    flex-direction: row;
    color: var(--stat-headings);
    font-family: var(--second-font);
}
.first-column{
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
    font-size: 12px;
}
.second-column{
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
    font-size: 12px;
}
.third-column{
    display: flex;
    flex-direction: column;
    font-size: 12px;    
}
.uppercase{
    padding-top: 0.3rem;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}
.invisible{
    display: none;
    background-image: url("./images/image-header-mobile.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
@media only screen and (max-width: 375px) {
    *{
        margin: 0;
        padding: 0;
    }
    .main{
        height: 120%;
        background-color: var(--main-background);
    }
    .container{
        flex-direction: column;
        height: 85%;
        width: 80%;
        margin: 0;
        padding: 0;
        top: 5%;
        left: 10%;
    }
    .invisible{
        display:flex;
        height: 40%;
    }
   .color-bgr{
       opacity: 0.5;
       border-top-left-radius: 15px;
       border-bottom-right-radius: 0px;
   }
    .left-side{
        flex-direction: column;
        align-content: center;
        justify-content: flex-start;
        text-align: center;
        height: 100%;
        width: 100%;
        padding-left: 1rem;
        margin-top: 2rem;
    }
    .heading-div{
        padding-left: 0.4rem;
        font-size: 1.5rem;
        height: 30%;
    }
    .insights{
        font-size: 1.5rem;
    }
    .paragraph-div{
        height: 30%;
        font-size: 1rem;
        line-height: 1.0;     
    }
    .first-column,
    .second-column{
        margin: 0;
        padding-bottom: 1rem;
    }
    .stats-div{
        height: 20%;
        width: 100%;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        padding-top: 3rem;
       
    }
    .right-side{
        display: none;
    }   
}