@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400;1,500&display=swap');

:root{
    /* Primary */
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);

    /* Accent */
    --blue: hsl(248, 32%, 49%);

    /* Neutral */
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);

    --main-font: "Poppins";
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}
.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url("./images/bg-intro-desktop.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--red);

}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 80%;
}
.left-side{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    margin-left: 3rem;
}
.right-side{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.form-container{
    width: 90%;
    background-color: white;
    border-radius: 0.5rem; 
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.form-action{
    display: flex;  
    flex-direction: column;
    padding: 2.2rem 2.2rem 0rem 2.2rem;
    width: 100%;
    height: 100%;
}
.subscription{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue); 
    border-radius: 0.5rem; 
    height: 3.5rem;
    margin-bottom: 1.5rem;
    font-family: var(--main-font);
}
.subscribe{
    font-size: 0.9rem;
    color: lightgrey;
}
.try-it{
    color: white;
    font-weight: 500;
    font-size: 0.9rem;
}
.fields{
    margin-bottom: 1rem;
    height: 3rem;
    border-radius: 0.3rem; 
    padding-left: 1.6rem;
    border: solid 1px var(--grayish-blue);
    font-family: var(--main-font);
    font-size: 0.8rem;
    font-weight: 600;
}
.fields:focus{
    outline: 1px solid var(--dark-blue);
}
#submit-btn{
    padding-left: 0;
    text-transform: uppercase;
    background-color: var(--green);
    color: white;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 0.9;
    letter-spacing: 1px;
    cursor: pointer;
}
#submit-btn:focus{
    outline-color: var(--green);
}
.terms-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}
.terms{
    font-size: 0.6rem;
    font-weight: 700;
    color: var(--grayish-blue);
}
.tos{
    font-family: var(--main-font);
    font-size: 0.6rem;
    color: var(--red);
    font-weight: 700;
}
h1{
    font-size: 2.7rem;
    font-family: var(--main-font);
    font-weight: 700;
    color: white;
    line-height: 1.2;
}
.paragraph{
    font-size: 0.9rem;
    font-family: var(--main-font);
    font-weight: 500;
    color: white;
    margin-top: 1.8rem;
}