@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
/* Primary text */
--very-dark-desaturated-blue: hsl(238, 29%, 16%);
--soft-red: hsl(14, 88%, 65%);

/* Background gradient */
--soft-violet: hsl(273, 75%, 66%);
--soft-blue: hsl(240, 73%, 65%);

/*Neutral text */
--very-dark-grayish-blue: hsl(237, 12%, 33%);
--dark-grayish-blue: hsl(240, 6%, 50%);

/* Divider */
--light-grayish-blue: hsl(240, 5%, 91%);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Kumbh Sans";
    font-size: 12px;
}
.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(to bottom, hsl(273, 75%, 66%) 0%, hsla(240, 73%, 65%));
}
.container{
    height: 70%;
    width: 70%;
    position: absolute;
    left: 17%;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 25px;
}
.left-side{
    background-image: url("./images/illustration-woman-online-desktop.svg");
    background-repeat: no-repeat;
    background-position: right center;
    height: 100%;  
    width: 50%; 
    font-weight: 400;
}
.right-side{
    height: 100%;
    width: 50%;
    margin-left: 4rem;
    margin-right: 4rem;
    display:flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
}
h1{
    padding-top: 9rem;
    padding-bottom: 3rem;
    font-size: 2.5rem;
    font-weight: 700;
}
/* Question divs */
.questions{
   border-bottom: 1px solid var(--light-grayish-blue);
   padding-top: 1rem;
   padding-bottom: 0.5rem;
}
/* Question spans */
.question{
    color: var(--very-dark-grayish-blue);
    font-size: 1.2rem;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1rem;   
}
.question:hover{
    color: var(--soft-red);
}
.paragraph{
    display: none; 
    color: var(--dark-grayish-blue);
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 1rem;
}
.show-paragraph{
    display: block;
}
.arrow{
    border: none;
}
.arrow:hover{
    cursor: pointer;
}
.box{
    position: absolute;
    top: 45%;
    left: 10%;
    z-index: 1;
}
.box-img{
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
    width: 100%;
}
.arrow img{
    height: 13px;   
}