@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

:root{

/* Primary */
--blue: hsl(223, 87%, 63%);

/* Secondary */
--pale-blue: hsl(223, 100%, 88%);
--light-red: hsl(354, 100%, 66%);

/* Neutral */
--gray: hsl(0, 0%, 59%);
--very-dark-blue: hsl(209, 33%, 12%);

/* Font */
--font-main: "Libre Franklin";
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
    font-size: 20px;
}
.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.header{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.ping-icon-container{
    display: flex;
    justify-content: center;
}
.ping-icon-container img{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.heading-container{
    margin-top: 2rem;
}
.heading-container h1{
    color:var(--gray);
    font-size: 1.7rem;
    font-weight: 500;
    text-align: center;
}
.soon{
    color: var(--very-dark-blue);
    font-size: 1.7rem;
    font-weight: 700;
}
p{
    margin-top: 0.7rem;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 600;
}
.notify-div{
    margin-top: 2rem;
}
.email{
    width: 18.5rem;
    height: 2.3rem;
    margin-right: 0.2em;
    border-radius: 1.2rem;
    border: solid var(--gray) 1px;
    font-size: 0.7rem;
    font-weight: 500;
    padding-left: 1rem;
}
.email:focus{
   outline: none;
}
button{
    height: 2.3rem;
    width: 8.5rem;
    border-radius: 1.2rem;
    background-color: var(--blue);
    color: white;
    font-size: 0.7rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
}
.image-container{
    width: 70%;
    height: 40%;
}
.image-container img{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.footer{
    height: 40%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.social{
    margin-top: 3rem;
}
.fa-facebook {
    color: var(--blue);
    margin-right: 1rem;
    font-size: 0.8rem;
    cursor: pointer;
    padding: 0.3rem;
    border-radius: 50%;
}
.fa-twitter{
    color: var(--blue); 
    margin-right: 1rem;
    font-size: 0.8rem;
    cursor: pointer;
    padding: 0.3rem;
    border-radius: 50%;
}
.fa-instagram{
    color: var(--blue); 
    font-size: 0.8rem;
    cursor: pointer;
    padding: 0.3rem;
    border-radius: 50%;
}
.copyright-div{
    margin-bottom: 1rem;
}
.copyright{
    font-size: 0.5rem;
    font-weight: 500;
}
.fa-facebook:hover{
    background-color: var(--blue);
    color: white;
}
.fa-twitter:hover{
    background-color: var(--blue);
    color: white;
}
.fa-instagram:hover{
    background-color: var(--blue);
    color: white;
}
.error-label{
    font-size: 0.5rem;
    font-weight: 600;
    color: var(--light-red);
    padding-left: 1.2rem;
    font-style: italic;
}
